/* Stilsättning för sidan */
* {
  font-family: Arial, sans-serif;
  color: #435882;
}

body {
  display: flex;
}

/* Ordnar formuläret och följande välkomstmeddelande/felmeddelande */
#loginForm,
#welcomeMessage,
#errorMessage {
  text-align: center;
}

#welcomeMessage {
  padding-right: 570px;
}

.container {
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

/* Styr utseendett på formuläret */
input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
}

/* Styr utseendet på logga in knappen */
button {
  padding: 10px;
  width: 325px;
  background-color: #546ea2;
  color: white;
  border: none;
  border-radius: 10px;
}

/* När användaren hovrar musen över knappen */
button:hover {
  background-color: #435882;
}
